In [1]:
import numpy as np
import pandas as pd # разглеждаме Series и DataFrame

In [14]:
### Създаване на Series
s = pd.Series([12,-4,7,9,11,-3,1,15,6,2,-9,19,3,5]) # отново представяме стойностите като списък
s1 = pd.Series([10,-5,8,10,12,-4,1,16,7,1,-8,20,4,4])
s # индексите са отляво

#s = pd.Series([12,-4,7,9], index=['a','b','c','d']) # ако искаме индексите да не са по подразбиране, а някакви други
s.values # показва стойностите
s.index # показва индексите
#(s[2], s['b']) # така може да се извикват отделните елементи
#s[3] = 11 # така може да се променят отделни елементи; НЕ може да се добавят нови

s[s > 8] # филтриране на елементите
#np.log(s) # може да се извършват математически операции върху целия ред
s/2

s.drop([1, 4, 6]) # показва Series без указания от индекса елемент. НЕ ИЗТРИВА елементите!

#s.order() # НЕ работи!
s.corr(s1) # корелация между два Series
s.cov(s1) # ковариантност между два Series

0.9911403535047725

In [15]:
### Работа с Data Frame
dat = {'color' : ['blue','green','yellow','red','white', 'pink', 'carmine', 'brown', 'clear'],
'object' : ['ball','pen','pencil','paper','mug', 'notebook', 'case', 'box', 'tape'],
'price' : [1.2,1.0,0.6,0.9,1.7, 1.9, 2.0, 1.3, 0.8],
'quantity' : [10, 6, 8, 12, 4, 9, 11, 10, 9]} # дефинираме някакво множество, например чрез dictionary

fra = pd.DataFrame(dat) # дефинираме нашата Data Frame чрез pd.DataFrame(МНОЖЕСТВО)
fra

fra2 = pd.DataFrame(dat, columns=['object','price']) # дефинираме друга Data Frame, съдържаща тези колони
fra2

# бързо генериране на пример и поставяне на имена на колони и индекси(редове)
fra3 = pd.DataFrame(np.arange(25).reshape((5,5)), index=['red','blue','yellow','white', 'purple'],columns=['ball','pen','pencil','paper','mug'])
fra3

fra4 = pd.DataFrame([[1,4,3,6,7],[4,5,6,1,3],[3,3,1,5,2],[4,1,6,4,5],[2,5,3,6,1]], index=['red','blue','yellow','white', 'purple'],columns=['ball','pen','pencil','paper','mug'])

fra.columns # показва имената на колоните
#fra.index # показва имената на редовете, т.е. индексите
#fra.values # показва какво има в таблицата

fra['object'] # показва съдържанието на конкретна колона
fra.object # показва съдържанието на конкретна колона

fra[['color','object']] # показва само тези колони от DaFr
fra[fra.columns[1:4]] # показва само тези колони от DaFr

fra[2:3] # извиква определени редове
#fra['object'][2] # показва конкретен елемент от дадена колона и индекс

    color  object  price  quantity
2  yellow  pencil    0.6         8

In [4]:
### Работа с Data Frame

#fra.index.name = 'identification' # даваме име на индексите чрез атрибута .name
#fra.columns.name = 'article' # даваме име на индексите

fra['sold']=10 # много лесно можем да създадем нова колона
fra['sold'] = [19,101,58,184,22,158,68,43,86] # можем да обновим съдържанието на колоната
fra['new'] = pd.Series(np.arange(9)) # ако искаме да запълним колоната с определена редица
fra['price'][6] = 1.8 # промяна на съдържанието на една клетка в таблицата

<ipython-input-4-bc194be473fb>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fra['price'][6] = 1.8 # промяна на съдържанието на една клетка в таблицата

In [5]:
fra.isin(['mug','pen']) # проверява дали нещото е налично в таблицата
del fra['new'] # изтриване на колона
fra

     color    object  price  quantity  sold
0     blue      ball    1.2        10    19
1    green       pen    1.0         6   101
2   yellow    pencil    0.6         8    58
3      red     paper    0.9        12   184
4    white       mug    1.7         4    22
5     pink  notebook    1.9         9   158
6  carmine      case    1.8        11    68
7    brown       box    1.3        10    43
8    clear      tape    0.8         9    86

In [6]:
fra3[fra3 < 12] # филтриране, използвахме другата Data Frame; връща Data Frame

fra3.T # транспониране

fra3.drop(['blue', 'white']) # показва Data Frame без указания от индекса ред. НЕ ИЗТРИВА реда!
#fra3.drop(['pen', 'paper'], axis=1) # показва Data Frame без дадените колони, като указваме axis=1. НЕ ИЗТРИВА колоните!

        ball  pen  pencil  paper  mug
red        0    1       2      3    4
yellow    10   11      12     13   14
purple    20   21      22     23   24

In [7]:
## Flexible Arithmetic Methods add( ), sub(), mul(), div() чрез alignment по индекси. Ако няма съвпадение, генерират NaN.

fra.add(fra2) # ако е между Da Fr и Ser, индексите на Ser съответстват на колоните на Da Fr, операцията е за всеки ред на Da Fr.

## Функции по елементи
np.sqrt(fra3) # резултатът е Da Fr с функция върху всеки елемент

            ball       pen    pencil     paper       mug
red     0.000000  1.000000  1.414214  1.732051  2.000000
blue    2.236068  2.449490  2.645751  2.828427  3.000000
yellow  3.162278  3.316625  3.464102  3.605551  3.741657
white   3.872983  4.000000  4.123106  4.242641  4.358899
purple  4.472136  4.582576  4.690416  4.795832  4.898979

In [8]:
#### Функции върху колона или ред. Те ще работят върху array и дават един единствен резултат

#f = lambda x: x.max() - x.min() # дефинираме функция, която намира range на данните в колона x

def f(x): # функцията може да се дефинира и така. Прилагаме функцията с ИМЕ–ДАННИ.apply(f)
    return x.max() - x.min()

fra3.apply(f) # получаваме Series от по едно число за колона; за да приложим върху ред, трябва да уточним axis=1
#fra3.apply(f, axis=1) # прилагаме функцията f за всеки ред

def f1(x): # може да се върне Series, а не един скалар
    return pd.Series([x.min(), x.max()], index=['min','max'])

fra3.apply(f1) # получаваме Data Frame
fra3

        ball  pen  pencil  paper  mug
red        0    1       2      3    4
blue       5    6       7      8    9
yellow    10   11      12     13   14
white     15   16      17     18   19
purple    20   21      22     23   24

In [24]:
#### Статистически функции
fra3.sum()
fra3.mean()
fra3.describe() # систематизирана таблица с данни за дадената Data Frame

fra3.sort_index(ascending=False) # сортира по индекса на реда: големина или азбуч. ред, by default .sort_index() е нарастващ
fra3.sort_index(axis=1) # сортира колони, т.е. размества колоните по азбучен ред

#fra3.sort_index(by='pen') # сортира по стойностите в определена колона. НЕ РАБОТИ ТУК!
#fra3.dropna(how='all') # премахва NaN, но само ако целият ред е с NaN
fra3.fillna(0) # замества NaN с избрано число, напр. 0
fra3.fillna({'ball':1,'mug':0,'pen':99}) # замества NaN в поцочените колони с избрано число

fra3.cov() # covariance и correlation за Data Frame
fra4.corr() # резултатът е Data Frame
fra3.corrwith(fra4) # pairwise correlation с друга матрица или Series

ball      0.242536
pen      -0.188982
pencil    0.000000
paper     0.228748
mug      -0.656532
dtype: float64

In [32]:
### Йерархично индексиране за Series
mser = pd.Series(np.random.rand(8), index=[['white','white','white','blue','blue','red','red','red'], 
                                           ['up','down','right','up','down','up','down','left']])
mser

mser[:,'up']
mser['white']
mser['white','up']

# Данните от Series могат да бъдат преподредени в Data Frame чрез .unstack(), като вторите индекси се преобразуват в колони
mser.unstack()

# Ако искаме да подредим Data Frame в Series с йерархични индекси, изплзваме .stack()
fra3.stack()

red     ball       0
        pen        1
        pencil     2
        paper      3
        mug        4
blue    ball       5
        pen        6
        pencil     7
        paper      8
        mug        9
yellow  ball      10
        pen       11
        pencil    12
        paper     13
        mug       14
white   ball      15
        pen       16
        pencil    17
        paper     18
        mug       19
purple  ball      20
        pen       21
        pencil    22
        paper     23
        mug       24
dtype: int32

In [50]:
### Йерархичнo индексиране за редове и колони на Data Frame

mfra = pd.DataFrame(np.random.randn(16).reshape(4,4), index=[['white','white','red','red'], ['up','down','up','down']], 
                    columns=[['pen','pen','paper','paper'],[1,2,1,2]])
mfra
# np.random.randn(16) връща извадка от 16 числа, разпределени Гаусово

mfra.columns.names = ['objects','id'] # именуваме колоните и редовете
mfra.index.names = ['colors','status']

#mfra.swaplevel('colors','status') # сега разменяме levels на редовете; може да се направи и за колоните; НЕЩО НЕ РАБОТИ

mfra.sum(level='colors') # уточняваме за кой level става дума, by default работим с редовете
mfra.sum(level='id', axis=1) # axis=1 означава, че става въпрос за колоните
### същото важи и за другите статистически функции

id                    1         2
colors status
white  up     -2.647063  0.883966
       down    2.081227 -0.185781
red    up     -2.259736  0.602730
       down   -1.904602 -3.105505